{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}CEFG NLP Graph{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <meta name="csrf-token" content="{{ csrf_token }}">
    {% block head_extra %}{% endblock %}
  </head>
  <body>
    <header style="text-align:center;margin:18px 0">
      <h2 class="page-title">CEFG NLP Graph Demo</h2>
      <h1 class="page-authors">Lingfeng Chen, Martin Fernandez de Retana, Diego Revilla</h1>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
  </body>
</html>
