{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}CEFG NLP Graph{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    {% block head_extra %}{% endblock %}
  </head>
  <body>
    <header class="centered-margin">
      <h2 class="page-title">CEFG NLP Graph Demo</h2>
      <h1 class="page-authors">Lingfeng Chen, Martin Fernandez de Retana, Diego Revilla</h1>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
  </body>
</html>
